.link {
  color:white;
  opacity: .3;
  transition: all;
  transition-duration: .3s;
  padding: 4px;
  position: relative;
  svg {
    width: 1.4rem;
  }

  &:hover {
    opacity: 1;
  }
}

.buttonGroup {
  left: 0px;
}
.buttonGroupAx {
    left: 40px;
}
.buttonGroupSearch {
    left: 70px;
}
.buttonGroup, .buttonGroupAx, .buttonGroupSearch {
  padding: 5px;
  width: fit-content;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 7px;
  transition: all .3s;
  position: absolute;
  top: 35px;
  .divider_vertical {
    height: 25px;
    width: 1px;
    background: #6f6e6e;
    opacity: .3;
  }
  .action {
    padding: 7px 15px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    width: 33px;
    height: 30px;
    cursor: default;
    &:hover {
      background: #000;
    }
    p.icon {
      width: 3rem;
      height: 3rem;
    }
  }

}
.buttonGroupPop {
  column-gap: 0px;
  display: flex;
  align-items: center;
  background-color: rgba(20, 20, 20, 0);
  
  .action {
    padding: 7px 15px;
    margin: 5px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255,.7);
    justify-content: center;
    transition: all .2s;
    width: 33px;
    height: 30px;
    cursor: default;
    &:hover {
      background: rgba(255, 255, 255,.03);
      cursor: pointer;
      // color: rgb(255, 149, 0);
      color: rgb(255, 255, 255);
    }
    p.icon {
      width: 3rem;
      height: 3rem;
    }
  }

  .divider_vertical {
    height: 25px;
    width: 1px;
    padding: 0;
    margin: 0;
    background: #6f6e6e;
    opacity: .3;
    &_full {
      height: 40px;
      width: 1px;
      background: hsla(0, 0%, 43%, 0.3);
    }
  }
  .text {
    font-family: monospace;
    font-size: 14px;
    opacity: .5;
    padding-inline: 10px;
    user-select: none;
  }
}